html{
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
}

body{
  height: 100%;
  max-width: 1500px;
  margin: auto;
}

.Container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(160px, 200px) minmax(540px, auto);
  grid-template-rows:minmax(3.5em, auto) 16fr minmax(1em, auto);
  grid-gap: 1%;
}
