html{
  width:100%;
  height:100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body{
  width:100%;
  height:100%;
  padding: 0px;
  margin: 0px;
  overflow: visible;
}
header{
  border:1px solid black;
  width:100%;
  min-height:70px;
  height:5%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: rgb(244, 128, 36);
  color: white;
}
.headerContent{
  border:1px solid rgba(0, 0, 0, 0);
  height:48%;
  margin-top: 0px;
}
.headerContent p {
  height: 100%;
  line-height: 200%;
  margin:0px;
  padding:0px;
}
#mainHeader {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  font-weight: bold;
}
#subHeader{
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1em;
}
.comment{
  font-style: italic;
}
