body{
  background-color: #424d54;
  color: #f4f4f7;
}

.header{
  font-size: 1em;
  width: 34em;
  margin: 10% auto 2% auto;
}

.konkani{
  font-style: italic;
}

.header h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation:
    typing 3s steps(30, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.contents{
  width: 34em;
  margin:1% auto;
}

.section{
  border-bottom:1px solid #b6b6bd;
  width:100%;
  animation:
    hide-border 3s linear,
    display-border 1s steps(10, end) 3s;
}

.links{
  margin: 4% auto;
  width:100%;
}

.link {
  border: 1px solid #b6b6bd;
  padding: 1%;
  animation:
    hide-border-all 3s linear,
    display-border-all 1s steps(10, end) 3s;
}

.link:not(:first-child){
  margin-left:5%;
}

.links a{
  margin: 0 auto;
  text-decoration: none;
  color: #b6b6bd;
  animation:
    hide-text 3s linear,
    display-text 1s steps(10, end) 3s;
}

.contents p, .contents p a, .contents hr{
  color: #b6b6bd;
  animation:
    hide-text 3s linear,
    display-text 1s steps(10, end) 3s;
}

/*Hide text initially for fade in*/
@keyframes hide-text {
  from {
    color: #424d54;
  }
  to {
    color: #424d54;
  }
}

/*The fade in effect */
@keyframes display-text{
  from {
    color: #424d54;
  }
  to {
    color: #b6b6bd;
  }
}

/*Hide text initially for fade in*/
@keyframes hide-border {
  from {
    border-bottom: 1px solid #424d54;
  }
  to {
    border-bottom: 1px solid #424d54;
  }
}

/*The fade in effect */
@keyframes display-border{
  from {
    border-bottom: 1px solid #424d54;
  }
  to {
    border-bottom: 1px solid #b6b6bd;
  }
}


/*Hide text initially for fade in*/
@keyframes hide-border-all {
  from {
    border: 1px solid #424d54;
  }
  to {
    border: 1px solid #424d54;
  }
}

/*The fade in effect */
@keyframes display-border-all{
  from {
    border: 1px solid #424d54;
  }
  to {
    border: 1px solid #b6b6bd;
  }
}
